.nombre-cible-config-root .tv-radio-row.is-disabled {
  opacity: .48;
  cursor: not-allowed;
}

.nombre-cible-config-root .tv-radio-row.is-disabled span::after {
  content: "";
}

.nombre-cible-config-root .nc-special-options {
  justify-content: flex-end;
}

.nombre-cible-config-root .nc-special-option {
  min-height: 38px;
  font-size: 18px;
  cursor: pointer;
}
